.footer{
    margin-top: 4rem;

}
.footer_wrap{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap: 1rem;
   padding: 2rem 0 ;
    
}
.wnn{
    width: 20rem;
}
.footer_img{

}

.ll li{
    font-size: 14px;
    color:#475467;
    margin-bottom: 1rem;
    font-weight: 600;
    margin-bottom: 1.3rem;
}


@media screen and (max-width:1024px){
   
  .footer_wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }
}
@media screen and (max-width:980px){
   
  .footer_wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
}
@media screen and (max-width:768px){
   
  .footer_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   
  }
}
@media screen and (max-width:600px){
   
  .footer_wrap{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
  }
}



