.showcase{
    margin-bottom: 3rem;
    height: 100vh;
}
.wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 1.5rem;
}
.wrapper_flex{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}
.wrapper_txt{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.2;
   
}
/* .wrapper_img{
    display: none;
   
} */



@media screen and (min-width:1024px){
   .showcase{
    height: 90vh;
   }
   .wrapper{
    display: flex;
     flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }
  .wrapper_txt{
    margin-top: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
   }
  
    
} 
@media screen and (min-width:900px){
   .wrapper{
    display: flex;
    flex-direction: column-reverse;
    
}
   
    
} 
