.showcase{
    margin-bottom: 4rem;
    /* height: 100vh; */
}
.wrapper{
    margin-top: 2rem;
    display: flex;
    flex-direction: column-reverse;
    
}
.wrapper_flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
   
    
}
.wrapper_txt{
    font-weight: 600;
    line-height: 1.2;
    font-size: 1.5rem;
   
}




@media screen and (min-width:1020px){
   .showcase{
    margin-bottom: 3rem;
   
 }
   .wrapper{
    display: flex;
     flex-direction: row;
    justify-content: space-between;
  
   
  }
  .wrapper_txt{
   
    margin-top: 2rem;
    font-weight: 600;
    line-height: 1.2;
   
    
   }
   .wrapper_flex{
  
    flex: 1;
    width: 100%;
   }
   .wrapper_img{
    
flex: 1;
   }
    
} 
@media screen and (min-width:700px){
    .showcase{
   
}
  .wrapper_txt{
    font-size: 2.7rem;
    
   }
      .wrapper_img{
        width: 100%;
       
        flex: 1;
   }
   .wrapper_img img{
    width: 100%;
   }
    
} 

    

