@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

@media screen and (min-width:900px){
   .wrapper_txt{
      font-size: 2.7rem;
   }
} 
/* @media screen and (min-width:900px){
   .wrapper_txt{
      font-size: 3rem;
   }
}  */

